@font-face {
  font-family: genshinFont;
  src: url(ja-jp.ttf);
}

* {
  font-family: genshinFont;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  gap: 1rem;
}

.logo {
  height: 5rem;
  padding: 1rem 0rem;
}

.header li a {
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 2rem;

  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1rem 1rem;
  margin: -2rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap; 
  list-style: none;
  gap: 7rem;
  padding: 1rem;
}

.banner {
  width: 100%;
}