@font-face {
  font-family: genshinFont;
  src: url(ja-jp.ttf);
}

* {
  font-family: genshinFont;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; 
  list-style: none;
  background-color: black;
  padding: 100;
}

.banner {
  width: 100%;
}