@font-face {
  font-family: genshinFont;
  src: url(ja-jp.ttf);
}

* {
  font-family: genshinFont;
}

.header li a {
  color: white;
  text-decoration: none;
  font-size: 25px;

  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em 1em;
  margin: -2em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; 
  list-style: none;
  background-color: black;
  padding: 100;
}

.banner {
  width: 100%;
}